# Don't add private keys
APIs/*

# cache
__pycache__/

# Env files
*.pyc

# Development stage
conversationbot
familybot.data
convbot.py
*.swp

# Delpoyment stage
log.txt
nohup.out

# database related files
database/*
